.intro {
  background-color: #FFF;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 20px 20px;
  font-weight: 700;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

section {
  background-color: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 3px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
}

.image-container {
  padding: 20px;
}

.form-element {
  width: 33.333%;
  display: inline-block;
}

.form-element .error {
  font-weight: 900;
  font-size: 14px;
  color: #FF0080;
  text-transform: uppercase;
  margin-top: 0;
}

.form-element label {
  display: block;
  width: 100%;
  text-align: center;
}

.form-element label select,
.form-element label input {
  width: 80%;
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  border: 3px solid #000;
}

.form-element label input {
  border-radius: 4px;
  padding: 2px;
}

button[type="submit"] {
  width: 100%;
  display: block;
  margin: 20px auto 0;
  padding: 15px;
  border: 4px solid #000;
  background-color: #FFF;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

@media (min-width: 700px) {
  .form-element label input,
  .form-element label select {
    width: 60%;
  }

  .label {
    display: inline-block;
    margin-right: 10px;
  }
}

.cart {
  position: relative;
}

.cart .status {
  font-weight: 700;
}

.cart .status strong {
  color: #FF0080;
}

.clear-cart,
.buy {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 5px 10px;
  border: 4px solid #000;
  background-color: #FFF;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

@media (min-width: 700px) {
  .clear-cart,
  .buy {
    width: auto;
  }

  .buy {
    position: absolute;
    right: 20px;
    top: 0;
  }

  .status {
    padding-right: 150px;
  }
}

.cart-items {
  padding-left: 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -15px;
  list-style-type: none;
}

.cart-item {
  width: 43%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 15px;
  border: 4px solid #000;
  border-radius: 4px;
}

.cart-item .cancel {
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.cart-item p {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 700;
}

.cart-item p:last-child {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .cart-item {
    width: 30%;
  }

  .cart-item .cancel {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    margin-bottom: 0;
  }
}